<div class="row">
  <div class="col-md-12">
    <p class="footer text-left">

      <a class="btn btn-social-icon btn-xs btn-facebook" target="_blank" href="https://www.facebook.com/roman.lehnert">
        <i class="fa fa-facebook"></i>
      </a>

      <a class="btn btn-social-icon btn-xs btn-xing" target="_blank" href="https://www.xing.com/profile/Roman_Lehnert">
        <i class="fa fa-xing"></i>
      </a>


      <a class="btn btn-social-icon btn-xs btn-linkedin" target="_blank" href="https://www.linkedin.com/pub/roman-lehnert/2b/412/408">
        <i class="fa fa-linkedin"></i>
      </a>

      <a class="btn btn-social-icon btn-xs btn-github" target="_blank" href="https://github.com/romanlehnert">
        <i class="fa fa-github"></i>
      </a>

      <a class="btn btn-social-icon btn-xs btn-email" href="mailto:roman.lehnert@gmail.com">
        <i class="fa fa-envelope"></i>
      </a>

      <a class="btn btn-social-icon btn-xs btn-skype" href="skype:roman_lehnert?add">
        <i class="fa fa-skype"></i>
      </a>
    </div>

  </div>

</div>
