<div class="footer row">
  <div>
    <a class="btn btn-social-icon btn-xs btn-facebook">
      <i class="fa fa-facebook"></i>
    </a>

    <a class="btn btn-social-icon btn-xs btn-xing">
      <i class="fa fa-xing"></i>
    </a>


    <a class="btn btn-social-icon btn-xs btn-linkedin">
      <i class="fa fa-linkedin"></i>
    </a>

    <a class="btn btn-social-icon btn-xs btn-github">
      <i class="fa fa-github"></i>
    </a>

    <a class="btn btn-social-icon btn-xs btn-email">
      <i class="fa fa-envelope"></i>
    </a>

    <a class="btn btn-social-icon btn-xs btn-skype">
      <i class="fa fa-skype"></i>
    </a>

  </div>

</div>
